/.vscode/
/.work
/.cache
/.idea

/_output

/tests/integration/rook-test/

# Ignore the CRDs generated for the CSV templates. They are duplicated multiple times and end up
# adding 20k+ lines. Since we already detect CRD changes in
# cluster/examples/kubernetes/ceph/crds.yaml, ignore them in the CSVs.
cluster/olm/ceph/deploy/crds/*
cluster/olm/ceph/deploy/olm-catalog/**/manifests
cluster/olm/ceph/templates/crds/*
