/.vscode/
/.work
/.download

/bin
/vendor
/release
.idea/

coverage.out
coverage.html
debug.test

.vagrant/
demo/standalone/cloud-config.yml

.virtualbox/

.discovery-token
tests/integration/temp_rook-operator.yaml
vendor/
binaries/
report.xml
results/
test_Results.xml
