
# Gopkg.toml example
#
# Refer to https://github.com/golang/dep/blob/master/docs/Gopkg.toml.md
# for detailed Gopkg.toml documentation.
#
# required = ["github.com/user/thing/cmd/thing"]
# ignored = ["github.com/user/project/pkgX", "bitbucket.org/user/project/pkgA/pkgY"]
#
# [[constraint]]
#   name = "github.com/user/project"
#   version = "1.0.0"
#
# [[constraint]]
#   name = "github.com/user/project2"
#   branch = "dev"
#   source = "github.com/myfork/project2"
#
# [[override]]
#  name = "github.com/x/y"
#  version = "2.4.0"

required = ["k8s.io/code-generator/cmd/client-gen"]
ignored = ["github.com/rook/rook/.cache","github.com/rook/rook/.work","github.com/rook/rook/Documentation","github.com/rook/rook/_output","github.com/rook/rook/build","github.com/rook/rook/cluster","github.com/rook/rook/images"]

[[constraint]]
  name = "github.com/aws/aws-sdk-go"
  version = "v1.15.45"

[[constraint]]
  name = "github.com/coreos/pkg"
  version = "v4"

[[constraint]]
  name = "github.com/ghodss/yaml"
  revision = "0ca9ea5df5451ffdf184b4428c902747c2c11cd7"

[[constraint]]
  name = "github.com/go-ini/ini"
  version = "v1.38.2"

[[constraint]]
  name = "github.com/go-sql-driver/mysql"
  version = "v1.4.0"

[[constraint]]
  name = "github.com/google/uuid"
  version = "v1.0.0"

[[constraint]]
  name = "github.com/icrowley/fake"
  revision = "4178557ae428460c3780a381c824a1f3aceb6325"

[[constraint]]
  name = "github.com/jbw976/go-ps"
  revision = "82859aed1b5dafbbe6ad4f3dac5404d2a742cf18"

[[constraint]]
  name = "github.com/spf13/cobra"
  version = "v0.0.3"

[[constraint]]
  name = "github.com/spf13/pflag"
  version = "v1.0.2"

[[constraint]]
  name = "github.com/stretchr/testify"
  version = "v1.2.2"

[[override]]
  name = "github.com/docker/distribution"
  revision = "edc3ab29cdff8694dd6feb85cfeb4b5f1b38ed9c"
# "v2.6.0-rc.1-209-gedc3ab29"

[[constraint]]
  name = "github.com/rook/operator-kit"
  branch = "master"

#
# The Kubernetes related projects below should all be updated as a set
# as they are versioned together.
#

[[constraint]]
  name = "k8s.io/kubernetes"
  version = "=v1.11.3"

[[constraint]]
  name = "k8s.io/api"
  version = "kubernetes-1.11.3"

[[constraint]]
  name = "k8s.io/apiextensions-apiserver"
  version = "kubernetes-1.11.3"

[[constraint]]
  name = "k8s.io/apimachinery"
  version = "kubernetes-1.11.3"

[[constraint]]
  name = "k8s.io/code-generator"
  version = "kubernetes-1.11.3"

[[constraint]]
  name = "k8s.io/client-go"
  version = "v8.0.0"
