apiVersion: v1
kind: Namespace
metadata:
  name: rook-ceph
---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: rook-ceph-cluster
  namespace: rook-ceph
---
kind: Role
apiVersion: rbac.authorization.k8s.io/v1beta1
metadata:
  name: rook-ceph-cluster
  namespace: rook-ceph
rules:
- apiGroups: [""]
  resources: ["configmaps"]
  verbs: [ "get", "list", "watch", "create", "update", "delete" ]
---
# Allow the operator to create resources in this cluster's namespace
kind: RoleBinding
apiVersion: rbac.authorization.k8s.io/v1beta1
metadata:
  name: rook-ceph-cluster-mgmt
  namespace: rook-ceph
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: rook-ceph-cluster-mgmt
subjects:
- kind: ServiceAccount
  name: rook-ceph-system
  namespace: rook-ceph-system
---
# Allow the pods in this namespace to work with configmaps
kind: RoleBinding
apiVersion: rbac.authorization.k8s.io/v1beta1
metadata:
  name: rook-ceph-cluster
  namespace: rook-ceph
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: Role
  name: rook-ceph-cluster
subjects:
- kind: ServiceAccount
  name: rook-ceph-cluster
  namespace: rook-ceph
---
apiVersion: ceph.rook.io/v1beta1
kind: Cluster
metadata:
  name: rook-ceph
  namespace: rook-ceph
spec:
  # The path on the host where configuration files will be persisted. If not specified, a kubernetes emptyDir will be created (not recommended).
  # Important: if you reinstall the cluster, make sure you delete this directory from each host or else the mons will fail to start on the new cluster.
  # In Minikube, the '/data' directory is configured to persist across reboots. Use "/data/rook" in Minikube environment.
  dataDirHostPath: /var/lib/rook
  # The service account under which to run the daemon pods in this cluster if the default account is not sufficient (OSDs)
  serviceAccount: rook-ceph-cluster
  # set the amount of mons to be started
  mon:
    count: 3
    allowMultiplePerNode: true
# Use an arbitrary PersistentVolumeClaim for each mons data.
# The PVCs will be created by the operator and named after the mon name.
#    volumeClaimTemplate:
#      spec:
#        accessModes: [ "ReadWriteOnce" ]
#        storageClassName: "my-storage-class"
#        resources:
#          requests:
#            storage: "8Gi"
  osd:
# Use an arbitrary PersistentVolumeClaim for each OSDs config.
# The PVCs will be created by the operator and named after the OSD name.
#    volumeClaimTemplate:
#      spec:
#        accessModes: [ "ReadWriteOnce" ]
#        storageClassName: "my-storage-class"
#        resources:
#          requests:
#            storage: "8Gi"
  # enable the ceph dashboard for viewing cluster status
  dashboard:
    enabled: true
  network:
    # toggle to use hostNetwork
    hostNetwork: false
  # To control where various services will be scheduled by kubernetes, use the placement configuration sections below.
  # The example under 'all' would have all services scheduled on kubernetes nodes labeled with 'role=storage-node' and
  # tolerate taints with a key of 'storage-node'.
#  placement:
#    all:
#      nodeAffinity:
#        requiredDuringSchedulingIgnoredDuringExecution:
#          nodeSelectorTerms:
#          - matchExpressions:
#            - key: role
#              operator: In
#              values:
#              - storage-node
#      podAffinity:
#      podAntiAffinity:
#      tolerations:
#      - key: storage-node
#        operator: Exists
# The above placement information can also be specified for mon, osd, and mgr components
#    mon:
#    osd:
#    mgr:
  resources:
# The requests and limits set here, allow the mgr pod to use half of one CPU core and 1 gigabyte of memory
#    mgr:
#      limits:
#        cpu: "500m"
#        memory: "1024Mi"
#      requests:
#        cpu: "500m"
#        memory: "1024Mi"
# The above example requests/limits can also be added to the mon and osd components
#    mon:
#    osd:
  storage: # cluster level storage configuration and selection
    useAllNodes: true
    useAllDevices: false
    deviceFilter:
    location:
    config:
      # The default and recommended storeType is dynamically set to bluestore for devices and filestore for directories.
      # Set the storeType explicitly only if it is required not to use the default.
      # storeType: bluestore
      databaseSizeMB: "1024" # this value can be removed for environments with normal sized disks (100 GB or larger)
      journalSizeMB: "1024"  # this value can be removed for environments with normal sized disks (20 GB or larger)
# Cluster level list of directories to use for storage. These values will be set for all nodes that have no `directories` set.
#    directories:
#    - path: /rook/storage-dir
# Cluster level list of volumeClaimTemplates to be used for storage. Each volume claim in this list will be created per node,
# e.g., 2 volumeClaimTemplates and 3 nodes will result in two volume claims to be created for each of the nodes (6 PVCs in total).
# Please note that the `metdata.name` will be used in the resulting PVC name for the OSD (e.g., rook-ceph-osd-NODENAME-data-1)
#      volumeClaimTemplates:
#      - metadata:
#          name: data-1
#        spec:
#          accessModes: [ "ReadWriteOnce" ]
#          storageClassName: "my-storage-class"
#          resources:
#            requests:
#              storage: "25Gi"
#      - metadata:
#          name: data-2
#        spec:
#          accessModes: [ "ReadWriteOnce" ]
#          storageClassName: "my-storage-class"
#          resources:
#            requests:
#              storage: "25Gi"
# Individual nodes and their config can be specified as well, but 'useAllNodes' above must be set to false. Then, only the named
# nodes below will be used as storage resources.  Each node's 'name' field should match their 'kubernetes.io/hostname' label.
#    nodes:
#    - name: "172.17.4.101"
#      directories: # specific directories to use for storage can be specified for each node
#      - path: "/rook/storage-dir"
#      resources:
#        limits:
#          cpu: "500m"
#          memory: "1024Mi"
#        requests:
#          cpu: "500m"
#          memory: "1024Mi"
#    - name: "172.17.4.201"
#      devices: # specific devices to use for storage can be specified for each node
#      - name: "sdb"
#      - name: "sdc"
#      config: # configuration can be specified at the node level which overrides the cluster level config
#        storeType: filestore
#    - name: "172.17.4.301"
#      deviceFilter: "^sd."
#    Specify volumeClaimTemplates on a per node basis, allowing arbitrary PVCs to be used as `directories`.
#    Please note that the `metdata.name` will be used in the resulting PVC name for the OSD (e.g., rook-ceph-osd-generic-cloud-node-1-data-1)
#    - name: "generic-cloud-node-1"
#      volumeClaimTemplates:
#      - metadata:
#          name: data-1
#        spec:
#          accessModes: [ "ReadWriteOnce" ]
#          storageClassName: "my-storage-class"
#          resources:
#            requests:
#              storage: "25Gi"
#      - metadata:
#          name: data-2
#        spec:
#          accessModes: [ "ReadWriteOnce" ]
#          storageClassName: "my-storage-class"
#          resources:
#            requests:
#              storage: "25Gi"
