{{- $root := . -}}
{{- range $objectstore := .Values.cephObjectStores -}}
---
apiVersion: ceph.rook.io/v1
kind: CephObjectStore
metadata:
  name: {{ $objectstore.name }}
  namespace: {{ $root.Release.Namespace }} # namespace:cluster
spec:
{{ toYaml $objectstore.spec | indent 2 }}
---
{{- if default false $objectstore.storageClass.enabled }}
{{- $sc := lookup "storage.k8s.io/v1" "StorageClass" "" $objectstore.storageClass.name }}
{{- if not $sc }}
apiVersion: storage.k8s.io/v1
kind: StorageClass
metadata:
  name: {{ $objectstore.storageClass.name }}
{{- if $objectstore.storageClass.labels }}
  labels:
{{ toYaml $objectstore.storageClass.labels | indent 4 }}
{{- end }}
  annotations:
    "helm.sh/hook": post-install,pre-upgrade
    "helm.sh/hook-delete-policy": before-hook-creation
    "helm.sh/resource-policy": keep
{{- if $objectstore.storageClass.annotations }}
{{ toYaml $objectstore.storageClass.annotations | indent 4 }}
{{- end }}
provisioner: {{ $root.Release.Namespace }}.ceph.rook.io/bucket
reclaimPolicy: {{ default "Delete" $objectstore.storageClass.reclaimPolicy }}
volumeBindingMode: {{ default "Immediate" $objectstore.storageClass.volumeBindingMode }}
parameters:
  objectStoreName: {{ $objectstore.name }}
  objectStoreNamespace: {{ $root.Release.Namespace }}
{{ with $objectstore.storageClass.parameters }}
{{ toYaml . | indent 2 }}
{{ end }}
{{- end }}
{{ end }}
{{ end }}
