# Default values for rook-operator.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

image:
  prefix: rook
  repository: rook/rook
  tag: %%VERSION%%
  pullPolicy: IfNotPresent

hyperkube:
  repository: k8s.gcr.io/hyperkube
  tag: v1.7.12
  pullPolicy: IfNotPresent

resources:
  limits:
    cpu: 100m
    memory: 128Mi
  requests:
    cpu: 100m
    memory: 128Mi

mon:
  healthCheckInterval: "45s"
  monOutTimeout: "300s"

## LogLevel can be set to: TRACE, DEBUG, INFO, NOTICE, WARNING, ERROR or CRITICAL
logLevel: INFO

## If true, create & use RBAC resources
##
rbacEnable: true

## Rook Agent configuration
## toleration: NoSchedule, PreferNoSchedule or NoExecute
## tolerationKey: Set this to the specific key of the taint to tolerate
## flexVolumeDirPath: The path where the Rook agent discovers the flex volume plugins
# agent:
#   toleration: NoSchedule
#   tolerationKey: key
#   flexVolumeDirPath: /usr/libexec/kubernetes/kubelet-plugins/volume/exec/
