apiVersion: v1
kind: Namespace
metadata:
  name: rook-minio-system
---
apiVersion: apiextensions.k8s.io/v1beta1
kind: CustomResourceDefinition
metadata:
  name: objectstores.minio.rook.io
spec:
  group: minio.rook.io
  names:
    kind: ObjectStore
    listKind: ObjectStoreList
    plural: objectstores
    singular: objectstore
  scope: Namespaced
  version: v1alpha1
---
apiVersion: rbac.authorization.k8s.io/v1beta1
kind: ClusterRole
metadata:
  name: rook-minio-operator
rules:
- apiGroups:
  - ""
  resources:
  - namespaces
  - secrets
  - pods
  - services
  verbs:
  - get
  - watch
  - create
  - update
- apiGroups:
  - apps
  resources:
  - statefulsets
  verbs:
  - get
  - create
  - update
- apiGroups:
  - minio.rook.io
  resources:
  - "*"
  verbs:
  - "*"
- apiGroups:
  - rook.io
  resources:
  - "*"
  verbs:
  - "*"
---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: rook-minio-operator
  namespace: rook-minio-system
---
kind: ClusterRoleBinding
apiVersion: rbac.authorization.k8s.io/v1beta1
metadata:
  name: rook-minio-operator
  namespace: rook-minio-system
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: rook-minio-operator
subjects:
- kind: ServiceAccount
  name: rook-minio-operator
  namespace: rook-minio-system
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: rook-minio-operator
  namespace: rook-minio-system
  labels:
    app: rook-minio-operator
spec:
  selector:
    matchLabels:
      app: rook-minio-operator
  replicas: 1
  template:
    metadata:
      labels:
        app: rook-minio-operator
    spec:
      serviceAccountName: rook-minio-operator
      containers:
      - name: rook-minio-operator
        image: rook/minio:v1.0.5
        args: ["minio", "operator"]
        env:
        - name: POD_NAME
          valueFrom:
            fieldRef:
              fieldPath: metadata.name
        - name: POD_NAMESPACE
          valueFrom:
            fieldRef:
              fieldPath: metadata.namespace
