apiVersion: v1
kind: Namespace
metadata:
  name: rook-cockroachdb-system
---
apiVersion: apiextensions.k8s.io/v1beta1
kind: CustomResourceDefinition
metadata:
  name: clusters.cockroachdb.rook.io
spec:
  group: cockroachdb.rook.io
  names:
    kind: Cluster
    listKind: ClusterList
    plural: clusters
    singular: cluster
  scope: Namespaced
  version: v1alpha1
---
apiVersion: rbac.authorization.k8s.io/v1beta1
kind: ClusterRole
metadata:
  name: rook-cockroachdb-operator
rules:
- apiGroups:
  - ""
  resources:
  - pods
  verbs:
  - get
  - list
- apiGroups:
  - ""
  resources:
  - services
  verbs:
  - create
- apiGroups:
  - apps
  resources:
  - statefulsets
  verbs:
  - create
- apiGroups:
  - policy
  resources:
  - poddisruptionbudgets
  verbs:
  - create
- apiGroups:
  - cockroachdb.rook.io
  resources:
  - "*"
  verbs:
  - "*"
---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: rook-cockroachdb-operator
  namespace: rook-cockroachdb-system
---
kind: ClusterRoleBinding
apiVersion: rbac.authorization.k8s.io/v1beta1
metadata:
  name: rook-cockroachdb-operator
  namespace: rook-cockroachdb-system
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: rook-cockroachdb-operator
subjects:
- kind: ServiceAccount
  name: rook-cockroachdb-operator
  namespace: rook-cockroachdb-system
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: rook-cockroachdb-operator
  namespace: rook-cockroachdb-system
  labels:
    app: rook-cockroachdb-operator
spec:
  selector:
    matchLabels:
      app: rook-cockroachdb-operator
  replicas: 1
  template:
    metadata:
      labels:
        app: rook-cockroachdb-operator
    spec:
      serviceAccountName: rook-cockroachdb-operator
      containers:
      - name: rook-cockroachdb-operator
        image: rook/cockroachdb:master
        args: ["cockroachdb", "operator"]
        env:
        - name: POD_NAME
          valueFrom:
            fieldRef:
              fieldPath: metadata.name
        - name: POD_NAMESPACE
          valueFrom:
            fieldRef:
              fieldPath: metadata.namespace
