apiVersion: v1
kind: Service
metadata:
  name: rook-ceph-rgw-my-store-external
  namespace: rook
  labels:
    app: rook-ceph-rgw
    rook_cluster: rook
    rook_object_store: my-store
spec:
  ports:
  - name: rgw
    port: 53390
    protocol: TCP
    targetPort: 53390
  selector:
    app: rook-ceph-rgw
    rook_cluster: rook
    rook_object_store: my-store
  sessionAffinity: None
  type: NodePort
