name: Security scanning
on:
  push:
    tags:
      - v*
    branches:
      - master
      - release-*

jobs:
  security:
    runs-on: ubuntu-latest
    steps:
    - name: checkout
      uses: actions/checkout@v2
      with:
        fetch-depth: 0

    - name: run Snyk to check for code vulnerabilities
      uses: snyk/actions/golang@master
      env:
        SNYK_TOKEN: ${{ secrets.SNYK_TOKEN }}
